<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Love2Dev - Circle Gauge</title>

    <link href="css/libs/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="components/circle-gauge/circle-gauge.css">

</head>

<body>

    <main class="d-flex justify-content-center">

        <div class="pie-container">
            <div class="back-pie"></div>
            <div class="right-pie"></div>
            <div class="left-pie"></div>
            <div class="inner-pie d-flex justify-content-center align-items-center">
                <span class="gauge-value"></span>
            </div>
        </div>
    </main>

    <script src="components/circle-gauge/circle-gauge.js"></script>

    <script>
        circleGauge.initialize( {
            width: 300,
            height: 300,
            value: 75
        } );
    </script>
</body>

</html>