<div class="essb-optinflyout essb-optinflyout-bottom-left essb-optinflyout-time active-flyout" data-delay="20"
    data-single="1" style="width: 500px; display: block;">
    <div class="essb-optinflyout-close essb-optinflyout-closeicon"><i class="essb_icon_close"></i></div>
    <div class="essb-subscribe-form essb-subscribe-form-2013397973 essb-subscribe-form-inline">
        <div class="essb-subscribe-form-content essb-subscribe-from-design9" data-position="flyout-time"
            data-design="design9">
            <div class="essb-subscribe9-icon"><i class="essb_icon_envelope-o"></i></div>
            <div class="essb-subscribe-form-content-top">
                <div class="essb-subscribe-form-content-title">Subscribe to our newsletter!</div>
                <p class="essb-subscribe-form-content-text">Get industry news, studies, how-to articles, exclusive
                    Bannersnack offers and product updates every other week.</p>
            </div>
            <div class="essb-subscribe-form-content-bottom">
                <form
                    action="https://blog.bannersnack.com/design-trends?name=design-trends&amp;essb3_subscribe_nonce=fb47fab2a1&amp;essb-malchimp-signup=1"
                    method="post" class="essb-subscribe-from-content-form"
                    id="essb-subscribe-from-content-form-mailchimp"><input
                        class="essb-subscribe-form-content-email-field essb-subscribe-form-inputwidth1" type="text"
                        value="" placeholder="Enter your email here" name="mailchimp_email">
                    <div class="essb-subscribe-confirm"><input type="checkbox" class="essb-subscribe-confirm"
                            id="essb-subscribe-confirm"><label for="essb-subscribe-confirm">I agree to the privacy
                            policy and terms</label></div><input class="submit essb-subscribe-form-submitwidth1"
                        name="submit" type="submit" value="Join Now"
                        onclick="essb.ajax_subscribe('2013397973', event);">
                </form>
                <div class="essb-subscribe-loader"> <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                        viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <path fill="#000"
                            d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"
                            transform="rotate(99.8526 25 25)">
                            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25"
                                to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
                        </path>
                    </svg></div>
                <p class="essb-subscribe-form-content-success essb-subscribe-form-result-message">Thank you for
                    subscribing.</p>
                <p class="essb-subscribe-form-content-error essb-subscribe-form-result-message">Something went wrong.
                </p>
                <p class="essb-subscribe-form-content-footer">We respect your privacy and take protecting it seriously
                </p>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>