<!DOCTYPE html>
<html>

<head>
    <title>Web Development Demos</title>

    <style>
        body {
            padding: 10%;
        }

        p {
            text-transform: capitalize;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            <a href="a2hs/">A2HS</a>
        </li>
        <li>
            <a href="chips/">Chips</a>
        </li>
        <li>
            <a href="circle-gauge/">Circle Gauge</a>
        </li>
        <li>
            <a href="gdpr/">GDPR</a>
        </li>
        <li>
            <a href="word-count/">Word Count</a>
        </li>
    </ul>

</body>

</html>