.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chip>img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.chips {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 20px 0;
    min-height: 45px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.chips.focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.chips:hover {
    cursor: text;
}

.chips .chip.selected {
    background-color: #26a69a;
    color: #fff;
}

.chips .input {
    background: none;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 120px !important;
}

.chips .input:focus {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.chips .autocomplete-content {
    margin-top: 0;
    margin-bottom: 0;
}

.prefix~.chips {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.chips:empty~label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}