<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Love2Dev - Chips</title>

    <link href="css/libs/bootstrap.min.css" rel="stylesheet" />
    <link href="components/chips/chips.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="icon" type="image/jpg" href="meta/favicon-16x16.jpg" sizes="16x16">
    <link rel="icon" type="image/jpg" href="meta/favicon-32x32.jpg" sizes="32x32">
    <link rel="icon" type="image/jpg" href="meta/favicon-96x96.jpg" sizes="96x96">
    <meta name="theme-color" content="#3c3c42">
    <link rel="manifest" href="manifest.json">
</head>

<body>

    <main class="d-flex flex-center">

        <div class="form-group">
            <label for="tags">Tags</label>
            <div class="chips chips-autocomplete tag-chips">
                <input name="tags" class="d-none validate">
            </div>
        </div>

    </main>

    <script src="chips.js"></script>
    <script src="js/register.js"></script>
</body>

</html>