<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Love2Dev - Chips</title>

    <link href="css/libs/bootstrap.min.css" rel="stylesheet" />
    <link href="components/chips/chips.css" rel="stylesheet" />

</head>

<body>

    <main class="d-flex flex-center">

        <div class="form-group">
            <label for="tags">Tags</label>
            <div class="chips chips-autocomplete tag-chips">
                <input name="tags" class="d-none validate">
            </div>
        </div>

    </main>

    <script src="chips.js"></script>
</body>

</html>